@import "colors";

.container, .calc-buttons, .buttons-row {
    width: 100%;
}

.container, .calc-buttons {
     height: 100%;
}

.container,.calc-body, .calc-top, .calc-buttons, .buttons-top, .buttons-row {
    display: flex;
}

.calc-body, .calc-top, .calc-buttons {
    flex-direction: column;
}

.container {
    justify-content: center;
    align-items: center;
}

.calc-body {
    width: 35%;
    height: 90%;
    padding: 2%;
    border-radius: 10px;
    border-radius: 39px;
    background: linear-gradient(225deg, #268d81, #2da899);
    box-shadow:  -30px 30px 60px #228175,
             30px -30px 60px #32b9a9;
}

.calc-display {
    outline: 5px solid $white;
    border-radius: 50px;
    margin-top: 4%;
}

.calc-buttons {
    justify-content: center;
    align-items: center;
    gap: 3%;
    border-radius: 30px;
    padding: 2%;
}

.buttons-row {
    justify-content: space-around;
}


