@import "colors";

.container, .calc-buttons {
    width: 100%;
}

.container, .calc-buttons {
     height: 100%;
}

.container,.calc-body, .calc-top, .calc-buttons, .buttons-top {
    display: flex;
}

.calc-body, .calc-top, .calc-buttons {
    flex-direction: column;
}

.container {
    justify-content: center;
    align-items: center;
}

.calc-body {
    height: 90%;
    width: 45%;
    padding: 2%;
    border-radius: 10px;
    gap: 5%;
    border-radius: 65px;
    background: #e0e0e0;
    box-shadow:  -37px -37px 74px #afafaf, 37px 37px 74px #ffffff;
}

.calc-display {
    outline: 1px solid $black;
    border-radius: 50px;
    margin: 3% 0;
}

.calc-buttons {
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 30px;
    padding: 3%;
}

