@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "colors";

.calc-title {
    h1 {
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.6em;
        color: $white;
        cursor: default;
        margin-bottom: 2%;
    }
}

.calc-display {
    p {
        margin: 3%;
        padding-right: 3%;
        text-align: right;
        font-size: 1.7em;
        font-weight: 600;
    }
}

.buttons-row {

    .fa-solid {
        color: $white;
        font-size: 0.8em;
    }

    .fa-circle {
        font-size: 0.2em;
    }    
}